*{
  margin:0 ;
  padding: 0;
  box-sizing: border-box;
  background-color:  #1E1E1E;
}
html{
  font-family: sans-serif;
}
.git{
  font-size: 20px;
  color: gray;
}
.git:hover{
  color: #FF39F7;
}

.container{
  margin: 0 auto;
  margin-top: 200px;
  text-align: center;
  width:300px;
  height: 375px;
  border: 3px solid red;
  border-radius: 1rem;
  transition: all 500ms;
}
.container:hover{
  box-shadow: 0px 0px 5px 5px rgba(255, 217, 0, 0.246);
}

img{
 width: 126px;
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;
  transition: all 500ms;
  margin-top: 5px;
}
img:hover{
  border: 6px solid #FF39F7;
}

p{
  padding-bottom: 145px;
  color: #f1f1f1;
}
h1{
  margin-top: 10px;
  color: #f1f1f1;
  font-size: 30px;
  
}
a{
  text-decoration: none;
  padding: 0 10px;
  color: #f1f1f1;
  transition: all 700ms ease;
}

a:hover{
  font-size: 23px;
}